.container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem;
}
//    делаем оконтовку заднего фона синего цвета
.container > div {
   background: var(--color-bg-variant);
   padding: 2.4rem 5rem;
   border-radius: 2rem;
   border: 1px solid transparent;
   transition: var(--transition);
   h3 {
      text-align: center;
      margin-bottom: 2rem;
      color: var(--color-primary);
   }
   &:hover {
      background: transparent;
      border-color: var(--color-primary-variant);
      cursor: default;
   }
}

.content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 2rem;
}
.details {
   display: flex;
   gap: 1rem;
}
.icon {
   margin-top: 6px;
   color: (var(--color-primary));
}

/*==================== МЕДИА ЗАПРОСЫ ===========================*/
@media screen and (max-width: 1024px) {
   .container {
      grid-template-columns: 1fr;
   }
   .container > div {
      width: 80%;
      padding: 2rem;
      margin: 0 auto;
   }
   .content {
      padding: 1rem;
   }
   .title {
      font-size: 0.8rem;
   }
}
/*==================== МЕДИА ЗАПРОСЫ ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ===========================*/
@media screen and (max-width: 600px) {
   .container {
      gap: 0.5rem;
      padding: 0 15px;
   }
   .container > div {
      width: 100%;
      padding: 2rem 1rem;
   }
   .title {
      font-size: 0.6rem;
   }
}
