nav {
   // делаем красивое меню иконочное для навигации
   background: rgba(0, 0, 0, 0.3);
   width: max-content;
   display: block;
   padding: 0.7rem 1.7rem;
   z-index: 2;
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   bottom: 2rem;
   display: flex;
   gap: 0.8rem;
   border-radius: 3rem;
   //    backdrop-filter позволяет вам использовать визуальные эффекты - такие как размытие или смещение цвета фона - за элементом
   backdrop-filter: blur(15px);
   a {
      background: transparent;
      padding: 0.9rem;
      border-radius: 50%;
      display: flex;
      color: var(--color-light);
      font-size: 1.1rem;
      &:hover {
         background: rgba(0, 0, 0, 0.3);
      }
      // при этом надо не забыть повесить этот класс наши ссылки
      &.active {
         background: var(--color-primary);
         color: var(--color-bg);
      }
   }
}

.tooltiptext {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   z-index: 3;
   transition: opacity 0.3s;
}
